.has-small-font-size{
    padding: 4px 24px 2px 24px;
    background-color: #3854B5;
}

.has-medium-font-size{
    padding: 8px 32px 8px 32px;
    background-color: #3854B5;
}

.has-large-font-size{
    padding: 8px 40px 8px 40px;
    background-color: #3854B5;
}


.is-style-outline.has-small-font-size{
    padding: 4px 24px 2px 24px;
}

.is-style-outline.has-medium-font-size{
    padding: 8px 32px 8px 32px;
}

.is-style-outline.large-font-size{
    padding: 8px 40px 8px 40px;
}